<footer class="footer">
  <div class="footer__containerarrow">
    <div class="footer__containerarrow--circlearrow">
      <a href="#heroid"
        ><img
          class="circlearrow__icoarrow"
          src="./assets/images/ico-arrow.svg"
          alt="ico-arrow"
      /></a>
    </div>
  </div>

  <nav class="footer__nav1">
    <ul>
      <li class="footer__nav1--menunavlink">
        <a href="https://adalab.es" target="_blank">ARTICLES</a>
      </li>
      <li class="footer__nav1--menunavlink">
        <a href="https://adalab.es" target="_blank">BOOKS</a>
      </li>

      <li class="footer__nav1--menunavlink">
        <a href="https://adalab.es" target="_blank"> </a>
      </li>

      <li class="footer__nav1--menunavlink">
        <a href="https://adalab.es" target="_blank">REASONS</a>
      </li>

      <li class="footer__nav1--menunavlink">
        <a href="https://adalab.es" target="_blank">TIPS</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul>
      <li class="footer__nav2--menunavlink">
        <a href="https://adalab.es" target="_blank">TWITTER</a>
      </li>
      <li class="footer__nav2--menunavlink">
        <a href="https://adalab.es" target="_blank">INSTAGRAM</a>
      </li>
      <li class="footer__nav2--menunavlink">
        <a href="https://adalab.es" target="_blank">MASTODON SOCIAL</a>
      </li>
    </ul>
  </nav>
  <section class="footer__heart">
    <div class="footer__heart--2023">
      <p class="article1">2023</p>

      <p class="article2">
        we <i class="fa-solid fa-heart" style="color: #f52505"></i> components
      </p>
    </div>
  </section>
</footer>
