<section class="section2" id="section2id">
  <h2 class="section2__title">3 Reasons To Purchase</h2>
  <article class="section2__article">
    <div class="section2__article--div">
      <p class="section2__article1--bold">Ut sed metus</p>
      <p class="section2__article2--section2text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="section2__article--div">
      <p class="section2__article1--bold">Curabitur ac erat</p>
      <p class="section2__article2--section2text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="section2__article--div">
      <p class="section2__article1--bold">Morbi dictum</p>
      <p class="section2__article2--section2text">
        Aliquam in dolor et dolor tincidunt
      </p>
    </div>
  </article>
  <div class="section2__buttonreasons">More Reasons</div>
</section>
