
@import 'core/reset';
@import 'core/variables';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/section1';
@import 'layout/section2';
@import 'pages/index';


:root{
font-size:62,5%;
}

body{
    padding: 0;
    margin: 0;  
}
